- content_for :title, @page_title
- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:title', content: @page_title }
  %meta{ property: 'og:description', content: @page_title }
  %meta{ property: 'og:image', content: @recipes.last&.image&.url }
- content_for :body_id, 'category-page'

%h1.title= @page_title

#recipes
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
    = render partial: 'recipes/recipe_list', object: @recipes
