.social
  .social-icon#fb
    .fb-like{ data: { layout: 'box_count', action: 'like', 'show-faces': 'false', share: 'false', href: og_url } }
  .social-icon
    %a.twitter-share-button{ href: 'https://twitter.com/intent/tweet' } Tweet