- content_for :title, 'About'
- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:type', content: 'article' }
  %meta{ property: 'og:title', content: 'About' }
  %meta{ property: 'og:description', content: 'About this blog' }
  %meta{ property: 'og:image', content: 'https://www.instagram.com/p/BBfMb-VH2V8/media?size=l' }
- content_for :body_id, 'about-page'

.row
  .large-10.large-offset-1.columns
    %h1.title
      About this blog
    .content
      %p
        Hi, I'm Vlatka, a Croatian software enginner/foodie living in Paris.
      %p
        This blog is a project that combines my two biggest interests, programming and food.
        When I was starting my career as a Ruby on Rails developer, I decided to create a personal project on which I could practice my coding skills and improve my knowledge of the technologies I use at work. I also wanted a channel through which I could share my cooking adventures.
        I made some sketches, got some feedback from my designer colleagues, and started coding.
      %p
        It's built using Ruby on Rails, SASS, HAML and Foundation frontend framework. It's actually a combination of a CMS and a blog. In it, you can find:
      %ul
        %li
          recipes - Recipes from the internet that I recommend or my own recipes. They are classified in three categories: breakfast, lunch/dinner and other (desserts, snacks) and can be searched by ingredients.
        %li
          places - My favourite foodie spots in Paris and elsewhere. You can read some detailed reviews and see my Google Maps bookmarks.
        %li
          posts - My essays on food, healthy lifestyle, travel...
      %p
        I'm into healthy, organic, local, mostly vegetarian food. I love to try out new recipes and discovering new cuisines of the world. While I enjoy spending hours in the kitchen, I know that on a daily basis we don't often have those extra hours in the day, so I feature mostly simple and quick recipes - "cuisine hacks".
      %p
        You can take a look "behind the scenes" at the
        = succeed ',' do
          = link_to 'GitHub repo', 'https://github.com/vlatkapavisic/cuisinehacker', target: '_blank'
        and I invite you to follow the updates on
        = succeed '.' do
          = link_to 'Instagram', 'https://www.instagram.com/cuisinehacker/', target: '_blank'
      %p
        Hope you'll enjoy the content of my blog!



