- content_for :title, 'About'
- content_for :meta_tags do
	%meta{property: 'og:url', content: request.original_url.split('?').first}
	%meta{property: 'og:type', content: 'article'}
	%meta{property: 'og:title', content: 'About'}
	%meta{property: 'og:description', content: ''}
	%meta{property: 'og:image', content: ''}

.row
	.large-10.large-offset-1.columns
		%h1.title
			this_blog.inspect
		%p
			lalall