- content_for :meta_tags do
	%meta{property: 'og:url', content: request.original_url.split('?').first}
	%meta{property: 'og:title', content: 'Le Blog'}
	%meta{property: 'og:description', content: ''}
	%meta{property: 'og:image', content: ''}

#home-page
	#first
		= image_tag 'https://www.instagram.com/p/8O6wkIOo1P/media?size=l'
	#second
		= image_tag 'https://www.instagram.com/p/-X14Zsuo4p/media?size=l'
	#third
		= image_tag 'https://www.instagram.com/p/7BaZM_Oo5z/media?size=l'
