- content_for :meta_tags do
  %meta{property: 'og:url', content: request.original_url.split('?').first}
  %meta{property: 'og:title', content: blog_name}
  %meta{property: 'og:description', content: 'Francophile programmer\'s healthy food blog &bullet; Developed in Ruby, in Zagreb, Croatia'.html_safe}
  %meta{property: 'og:image', content: 'https://www.instagram.com/p/BBfMb-VH2V8/media?size=l'}
- content_for :body_id, 'home-page'

.row
  .large-6.columns
    %pre#code
      :preserve
        cd cuisine
        git checkout -b edible_experiment
        git add ingredients/*
        gem install apricot_jam
        curl -I lowcalhost:3000
        brew install food
        sudo eat root_vegetable
        rails c
        food.fetch(:bread, 'brioche') #letthemeatcake
        raise 'Hungry' rescue :cook
        flaxseed = Fiber.new { 'Omega 3' } #flaxingwithmyhandsup
        begin
          eat
        rescue => FiberError
          eat flaxseed
        end
        'banana '.chop.freeze
        '  lemon     '.squeeze
        app.get '/' #someta #wow
        Recipe.order(created_at: :desc).take(4) #new #ontheblog #enjoy #bonappetit 

  .large-6.columns
    #recipes
      %ul.large-block-grid-2.medium-block-grid-4.small-block-grid-2
        = render partial: 'recipes/recipe_list', object: @new_recipes

