- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:title', content: blog_name }
  %meta{ property: 'og:description', content: 'Programmer\'s food blog • Developed in Ruby on Rails • Recipe and restaurant reviews • Paris, France'.html_safe }
  %meta{ property: 'og:image', content: 'https://www.instagram.com/p/BBfMb-VH2V8/media?size=l' }
- content_for :body_id, 'home-page'

.row
  .large-6.columns
    %pre#code
      :preserve
        cd cuisine
        git checkout -b edible_experiment
        git add ingredients/*
        gem install apricot_jam
        sudo eat root_vegetable
        rails c
        food.fetch(:bread, 'brioche') #letthemeatcake
        raise 'Hungry' rescue :cook
        flaxseed = Fiber.new { 'Omega 3' }
        begin
          eat
        rescue => FiberError
          eat flaxseed
        end
        'banana '.chop.freeze
        '  lemon     '.squeeze
        Digest::SHA256.digest(secret_ingredient + salt)
        app.get '/' #someta #wow
        Place.last(2).reverse + Recipe.last(2).reverse #new #ontheblog


  .large-6.columns
    -# TODO : refactor
    #recipes
      %ul.large-block-grid-2.medium-block-grid-4.small-block-grid-2
        - @new_content.each do |content_item|
          %li
            .recipe
              - if content_item.instance_of? Place
                %a{href: place_path(content_item)}
                  = image_tag content_item.images.first.url
                #recipe-title
                  = link_to content_item.name, place_path(content_item)
              - else
                %a{href: recipe_path(content_item)}
                  = image_tag content_item.image.url
                #recipe-title
                  = link_to content_item.title, recipe_path(content_item)
