.row
  .large-10.columns
    = simple_form_for @post do |f|
      = f.input :title
      = f.input :content, as: :text, input_html: { rows: 20 }
      = f.button :submit, class: 'button small secondary'
