- content_for :title, 'Posts'
- content_for :meta_tags do
  %meta{property: 'og:url', content: request.original_url.split('?').first}
  %meta{property: 'og:title', content: 'Posts'}
  %meta{property: 'og:description', content: 'Posts'}
  %meta{property: 'og:image', content: ''}
- content_for :body_id, 'posts-archive-page'

%h1.title= 'Posts'

.row
  .large-6.large-offset-3.columns
    %ul.no-bullet
      - @posts.each do |post|
        %li= link_to post.title, post