- content_for :title, 'Posts'
- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:title', content: 'Posts' }
  %meta{ property: 'og:description', content: 'My thoughts on food, cooking, health...' }
  %meta{ property: 'og:image', content: 'https://www.instagram.com/p/BBNOe7hH2bC/media?size=l' }
- content_for :body_id, 'posts-archive-page'

.row
  .large-10.large-offset-1.columns
    %h1.title= 'Posts'
    %h2.text-center
      %small
        My thoughts on food, health, interesting places...

.row
  .large-6.large-offset-3.columns
    #posts
      %ul.no-bullet.text-center
        - @posts.each do |post|
          %li= link_to post.title, post
