.alert-box
	margin: 20px 0

.top-bar .name h1 a:hover
	color: $monsoon

.top-bar-section ul li a
	transition: background 300ms ease

.tab-bar, .right-off-canvas-menu
	background: $lavander
	.menu-icon span::after
		box-shadow: 0 0 0 1px $jet, 0 7px 0 1px $jet, 0 14px 0 1px $jet
	h1 a
		color: $jet 
		&:hover
			color: $monsoon
	ul.off-canvas-list 
		li
			a
				color: $jet
				border: none
				&:hover
					background: $lavander-dark
					color: $monsoon

#home-page
	img
		width: inherit

#logout
	margin-right: 10px

h1.title
	text-align: center
	border-top: 1px solid black
	border-bottom: 1px solid black
	padding: 10px 0
	margin: 30px 0 20px 0

.blog-link
	color: $lavander-darker
	&:hover
		color: $lavander-hover

footer
	color: $base
	text-align: center
	padding: 40px 0 20px 0
	hr
		border-color: $base

#category-page, #search-page
	#recipes
		a
			position: relative
			#recipe-title
				display: none
				position: absolute
				top: 0
				left: 5px
				color: $lavander-darker
				font-size: 18px
			&:hover
				img
					opacity: 0.3
					transition: opacity 300ms ease
					-webkit-transition: opacity 300ms ease
				#recipe-title
					display: block

#recipe-page
	img
		padding: 20px 0

#post-page
	.content
		padding-top: 30px
	img
		padding: 20px 0

#search-page
	input, button
		border: none
	#search-btn
		background-color: $lavander-dark
		padding: 0 20px
		transition-timing-function: ease
		&:hover
			background-color: $lavander-darker


li.has-dropdown
	width: 100px
	&#admin-dropdown
		width: 115px

body
	background: linear-gradient(rgba(213, 213, 246, 0), rgba(213, 213, 246, 1)) fixed
	*
		font-family: Roboto Condensed !important


