- content_for :title, @category.name
- content_for :meta_tags do
	%meta{property: 'og:url', content: request.original_url.split('?').first}
	%meta{property: 'og:title', content: @category.name}
	%meta{property: 'og:description', content: "#{@category.name} recipes"}
	%meta{property: 'og:image', content: @category.recipes.last.photo_url}
- content_for :body_id, 'category-page'

%h1.title= @category.name

#recipes
	%ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
		= render partial: 'recipes/recipe_list', object: @category.recipes



