- content_for :title, @category.name

%h1= @category.name

%ul.small-block-grid-2.medium-block-grid-5
	- @category.recipes.each do |recipe|
		%li
			%a{href: recipe_path(recipe)}
				= image_tag recipe.photo_url