- content_for :title, @category.name
- content_for :meta_tags do
	%meta{property: 'og:url', content: request.original_url.split('?').first}
	%meta{property: 'og:title', content: @category.name}
	%meta{property: 'og:description', content: "#{@category.name} recipes"}
	%meta{property: 'og:image', content: @category.recipes.first.photo_url}
- content_for :body_id, 'category-page'

%h1#title= @category.name

#recipes
	%ul.small-block-grid-2.medium-block-grid-5
		- @category.recipes.each do |recipe|
			%li
				%a{href: recipe_path(recipe)}
					= image_tag recipe.photo_url
					#recipe-title
						= recipe.title


