- content_for :title, 'Bonnes adresses parisiennes'
- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:title', content: 'Bonnes adresses parisiennes' }
  %meta{ property: 'og:description', content: 'A map of my favourite restaurants, cafes, bakeries and bars in Paris.' }
  %meta{ property: 'og:image', content: '' }
- content_for :body_id, 'places-map-page'

.row
  .large-10.large-offset-1.columns
    %h1.title
      Bonnes adresses parisiennes

    %p#description.text-center
      My favourite restaurants, bakeries, cafés and bars in Paris.

    #places
      %ul.inline-list
        - @places.each do |place|
          %li= link_to place.name, place

    #map-container
      #map

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13);
  });

