%footer
	%hr
	Code at
	%a{href: 'https://github.com', target: '_blank'}
		%i.fi-social-github.medium
	&bullet; Images at
	%a{href: 'https://www.instagram.com/cuisinehacker/', target: '_blank'}
		%i.fi-social-instagram.medium