%footer
  Code at 
  %a{href: 'https://github.com/vlatkapavisic/cuisinehacker', target: '_blank'}
    %i.fi-social-github
  &bullet;&nbsp; Images from
  %a{href: 'https://www.instagram.com/cuisinehacker/', target: '_blank'}
    %i.fi-social-instagram