%footer
  = link_to 'GitHub', 'https://github.com/vlatkapavisic/cuisinehacker', target: '_blank'
  &bullet;&nbsp;
  = link_to 'Instagram', 'https://www.instagram.com/cuisinehacker/', target: '_blank'
