%footer
  = link_to 'See the code on GitHub', 'https://github.com/vlatkapavisic/cuisinehacker', target: '_blank'
  &bullet;&nbsp;
  = link_to 'Follow me on Instagram', 'https://www.instagram.com/cuisinehacker/', target: '_blank'
