%nav.show-for-medium-up.top-bar{'data-topbar' => '', role: 'navigation', 'data-options' => 'is_hover: true'}
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path} 
          Le blog

  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown#admin-dropdown
          %a{href: '#'}
            Admin
          %ul.dropdown
            %li
              %a{href: recipes_path}
                Manage recipes
            %li
              %a{href: posts_path}
                Manage posts
            %li
              %a{href: destroy_user_session_path, 'data-method' => :delete}
                Logout
        %li.divider
      %li.has-dropdown
        %a{href: '#'} 
          Recipes
        %ul.dropdown
          %li
            %a{href: category_path('breakfast')} 
              Breakfast
          %li
            %a{href: category_path('lunch-dinner')} 
              Lunch/Dinner
          %li
            %a{href: category_path('other')} 
              Other
          %li
            %a{href: search_path} 
              Search
      %li
        %a{href: posts_archive_path} 
          Posts
      %li
        %a{href: about_path} 
          About

%nav.tab-bar.show-for-small-only
  %section.middle.tab-bar-section
    %h1 
      %a{href: root_path} 
        Le blog
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon{href: '#'}
      %span

%aside.right-off-canvas-menu.show-for-small-only
  %ul.off-canvas-list
    %li
      %a{href: search_path} 
        Search recipes
    %li
      %a{href: category_path('breakfast')} 
        Breakfast
    %li
      %a{href: category_path('lunch-dinner')} 
        Lunch/dinner
    %li
      %a{href: category_path('other')} 
        Other
    %li
      %a{href: posts_archive_path} 
        Posts
    %li
      %a{href: about_path} 
        About





